services:
  icinga2-master:
    image: icinga/icinga2:2
    container_name: icinga2-master
    hostname: icinga2-master
    restart: unless-stopped
    environment:
      TZ: "${TZ:-America/Sao_Paulo}"
    ports:
      - "5665:5665"
    volumes:
      - ${ICINGA_MASTER_ETC_DIR:-/srv/icinga/master/etc}:/etc/icinga2
      - ${ICINGA_MASTER_VAR_DIR:-/srv/icinga/master/var}:/var/lib/icinga2
      - ${ICINGA_MASTER_LOG_DIR:-/srv/icinga/master/log}:/var/log/icinga2
    networks:
      - icinga-master-net
      - icinga-shared

networks:
  icinga-master-net:
    name: icinga-master-net
    driver: bridge
  icinga-shared:
    external: true
    name: icinga-shared