services:
  icinga2-master:
    image: icinga/icinga2:2
    container_name: icinga2-master
    hostname: icinga2-master
    restart: unless-stopped
    environment:
      TZ: "${TZ:-America/Sao_Paulo}"
    ports:
      - "5665:5665"
    volumes:
      - ${ICINGA_MASTER_DATA_DIR:-/srv/icinga/master/data}:/data
    networks:
      - icinga-master-net
      - icinga-shared

    # Instala o módulo icingadb + garante API Listener + inicia o Icinga2
    command: >
      bash -c "
        echo '>> Instalando módulo icingadb...' &&
        apt update &&
        apt install -y icingadb &&

        echo '>> Garantindo que o API Listener está configurado...' &&
        if [ ! -f /data/var/lib/icinga2/certs/ca.crt ]; then
          icinga2 api setup;
        fi &&

        echo '>> Iniciando Icinga2...' &&
        icinga2 daemon
      "

networks:
  icinga-master-net:
    name: icinga-master-net
    driver: bridge

  icinga-shared:
    external: true
    name: icinga-shared